{% extends 'base.html' %}
{% block titulo %}{{ titulo }}{% endblock %}
{% block body %}

<h1>Biblioteca general</h1>

{% if libros|length == 0 %}
    <p>No hay libros cargados.</p>
{% else %}
    <div class="container">
        <div class="row">

        {% for libro in libros %}
            <div class="col-md-3 mb-4">
                <div class="card">

                    {% if libro.imagen %}
                        <img src="{{ URL_BACK_IMAGEN }}{{ libro.imagen }}" class="card-img-top">
                    {% else %}
                        <img src="{{ URL_BACK_IMAGEN }}/default.png" class="card-img-top">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ libro.titulo }}</h5>
                        <p class="card-text">
                            Autor: {{ libro.autor }} <br>
                            Editorial: {{ libro.editorial }} <br>
                            ISBN: {{ libro.codigo_isbn }}
                        </p>
                      <a href="{{ url_for('intercambio_bp.intercambio') }}">
                        <button type="submit" class="btn btn-success">Intercambiar</button>
                      </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
{% endif %}

{% endblock %}