{% extends 'base.html' %}

{% block titulo %}Favoritos{% endblock %}

{% block body %}
<h2 id="titulo-form">📚 Mis Libros Favoritos 📚</h2>
{% if favoritos %}
  <ul>
    {% for favorito in favoritos %}
      <li><h2>{{ favorito.titulo }} <br>
         Publicado por: {{ favorito.usuario }}</h2></li>
     
    {% endfor %}
  </ul>
{% else %}
  <h2><strong>Lista de favoritos vacia 💔</strong></h2>
{% endif %}

<div class="bt-regresar">
  <a href="{{ url_for('biblioteca') }}" class="btn btn-dark">Volver a la biblioteca</a>
  <a href="{{ url_for('limpiar_favoritos') }}" class="btn btn-danger">Vaciar favoritos</a>
</div>
{% endblock %} 