{% extends "base.html" %}

{% block titulo %}Intercambiar libro{% endblock %}

{% block body %}
<h2 id="titulo-form">SOLICITAR UN INTERCAMBIO</h2>

<form id="form-intercambio" action="{{ url_for('enviar_intercambio') }}" method="post">

  <div class="Fintercambio">
    <label><strong>Nombre:</strong></label>
    <input id="nombre-solicitante" type="text" name="nombre-solicitante" required>
  </div>

  <div class="Fintercambio">
    <label><strong>Apellido:</strong></label>
    <input id="apellido-solicitante" type="text" name="apellido-solicitante" required>
  </div>

  <div class="Fintercambio">
    <label><strong>Mail académico:</strong></label>
    <input id="mail-solicitante" type="email" name="mail-solicitante" required>
  </div>

  <!-- Libro que quiero pedir -->
  <input type="hidden" id="libro-solicitar" name="id_libro_solicitado" value="{{ id_libro_solicitado }}">

  <!-- Propietario del libro -->
  <input type="hidden" name="id_usuario_solicitado" value="{{ id_usuario_solicitado }}">

  <div class="Fintercambio">
    <label><strong>Libro que ofrezco:</strong></label>
    <select name="id_libro_ofrecido" required>
      <option value="">Seleccionar libro...</option>
      {% for libro in mis_libros %}
        {% if libro.estado_del_libro == "disponible" %}
        <option value="{{ libro.id }}">
          {{ libro.titulo }} - {{ libro.autor }}
        </option>
        {% endif %}
      {% endfor %}  
    </select>
  </div>

  <button id="send-bt" type="submit">ENVIAR</button>

</form>
{% endblock %}
