{% extends 'base.html' %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block body %}
<h1>Iniciar Sesión</h1>
    <!-- Formulario de Inicio de Sesión -->
    <form action="{{ url_for('iniciar_sesion_bp.iniciar_sesion') }}" method="post">
        <label for="usuario_o_mail">E-Mail o Usuario</label><br>
        <input type="text" id="usuario_o_mail" name="usuario_o_mail" class="form-control" placeholder="📧 E-Mail o Usuario" required><br>
        <label for="password">Contraseña</label><br>
        <input type="password" id="password" name="contrasena_usuario" class="form-control" placeholder="🔒 Contraseña" required><br>
        <button type="submit" id="envio" class="btn-formulario">Iniciar Sesión</button>
    </form>
<p>¿Aún no tenés un cuenta? ¡Create una haciendo click <a href="{{ url_for('registrarse_bp.registrarse') }}">acá!</a></p>
{% endblock %}