<h2>Nueva solicitud para intercambiar un libro</h2>

<p><strong>Datos del solicitante:</strong></p>
<p><strong>Nombre: </strong>{{ nombre_solicitante }}</p>
<p><strong>Apellido: </strong>{{ apellido_solicitante }}</p>
<p><strong>Mail del solicitante: </strong>{{ mail_solicitante }}</p>
<p><strong>Libro a solicitar: </strong>{{ libro_solicitar }}</p>
<p><strong>Libro a intercambiar: </strong>{{ libro_intercambiar }}</p>
<p>Ingresa el codigo del intercambio haciendo <a href="{{ url_for('codigo', _external=True) }}">click aqui</a></p>

<p>Recorda que tenes 48hs a partir de la llegada de este mail
    para poder enviar el codigo que te dara el acceso al libro
    solicitado. De no haberlo enviado se anulara la transaccion.
</p>





