{% extends 'base.html' %}

{% block titulo %}Mis libros{% endblock %}

{% block body %}
<h1>Mis libros</h1>

{% if libros %}
    <div class="row">
        {% for libro in libros %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{{ URL_BACK_IMAGEN }}{{ libro.imagen_url }}" class="card-img-top">
                    <div class="card-body">
                        <h5>{{ libro.titulo }}</h5>
                        <p>{{ libro.autor }}</p>
                        <p>Estado: {{ libro.estado_del_libro }}</p>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No tenés libros cargados.</p>
{% endif %}

{% endblock %}