{% extends 'base.html' %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block body %}
<section>
    <div class="pag">
        <h1 class="titulo-pag">Sobre Nosotros</h1>
        <p>
            Somos un grupo de estudiantes que busca facilitar la obtención de libros buscados por cada usuario, de forma tal que se consigan a través de intercambios entre los
            mismos, con la modalidad "libro por libro" como lo indica el nombre de la página.
        </p>
        <p>
            Por eso desarrollamos una plataforma que facilita dicho intercambio de libros entre los usuarios que se registren en la página para que luego
            esos usuarios arreglen en privado puntos de encuentro para intercambiar los libros de forma presencial.
        </p>
    </div>

    <div class="pag">
        <h3 class="titulo-pag">Cómo surgió la idea</h3>
        <p>
            La idea nació al ver que se podía simplificar la obtención de libros a través de este sistema de tradeos donde los usuarios pueden utilizar libros
            que ya no necesiten, para conseguir otros que sí sean de su interés.
        </p>
    </div>

    <div class="pag">
        <h3 class="titulo-pag">Nuestro equipo</h3>
        <ul>
            <li>Matías Agustín Cancina</li>
            <li>Ignacio Agliani</li>
            <li>Pedro Pérez Mochetti</li>
        </ul>
    </div>

    <div class="pag text-center">
        <p><em>Buscamos fomentar la lectura accesible y el consumo responsable, dándole una segunda vida a los libros que ya cumplieron su propósito con sus dueños anteriores.</em></p>
    </div>
</section>

{% endblock %}