{% extends 'base.html' %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block body %}
<section>
    <h1>Sobre Nosotros</h1>
    <p>
        Somos un grupo de estudiantes que busca promover la colaboración y la solidaridad dentro de la comunidad universitaria para compartir conocimiento sin depender del dinero ni de la compra de materiales nuevos.
    </p>
    <p>
        Por esa razón decidimos desarrollar una plataforma que facilite el intercambio de libros y apuntes entre alumnos, utilizando la biblioteca de la facultad como punto de encuentro físico para realizar los intercambios.
    </p>
    
</section>
{% endblock %}
